<!-- Curriculum Vitae Section-->
<section id="curriculumvitae">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Curriculum Vitae</h2>
        <hr class="star-primary">
       <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-30">
      <!--<div class="col-lg-4 col-lg-offset-2">-->
        <p><b>CONFERENCES</b>
          <br> 2022, Digital Inclusion Panel, International Communication Association (ICA) Virtual Post-conference on Media Sociology<br>
          ☞ Aadhaar Biometric System Adding Value To Digital Payments For Financial Inclusion In India<br><br>
          2022, Interacting with Smart Tech Panel, Canadian Communication Conference (CCA<br>
          ☞ Aadhaar Biometric System Adding Value To Digital Payments For Financial Inclusion In India<br><br>
          2021, Rural Communication Panel, International Association for Media and Communication Research Conference (IAMCR) <br>
          ☞ E-commerce for Rural Micro-Entrepreneurs: Mapping Restrictions, Ecologies of Use and Trends for Development<br><br>
          2021, Infrastructural Temporalities, Canadian Communication Conference (CCA) <br>
          ☞ History of Information Communications in India: Mapping developmental trajectory of telegraph, telephones, and mobile phones (1851- Present.) <br><br>
          2021, Consumerism Panel, Communication Graduate Caucus (CGC) Conference <br>
          ☞ Role of COVID-19 Pandemic in Facilitating Digital Payment Ecosystem<br><br>
          2020, Biosciences and Analytics Panel, What is Information? <br>
          ☞ Role of Aadhaar Biometric System Within the Digital Payment Transformation in India. <br><br>
          2019, ICTs for Community, Participation and Development Panel, Canadian Communication Conference (CCA)<br>
          ☞ Intersectionality: Investigating Intersectionality as a Framework for ICTs Research. <br><br>
          </p>
      </div>

      <div class="col-lg-5">
        <p><b>TEACHING</b>
          <br>Fall 2021 & 2020, Co-Instructor, Senior Seminar in Arts and Media, <br>
          ☞ Department of Arts, Culture and Media, University of Toronto Scarborough <br>
          <br>Winter 2020, Instructor, Experience Design II, <br>
          ☞ School of Media Studies & Information Technology, Humber College<br>        
          <br>Fall 2019, Experience Design I, <br>
          ☞ School of Media Studies & Information Technology, Humber College<br>   
          <br>Fall 2019, Emerging Multimedia Practice I, <br>
          ☞ School of Media Studies & Information Technology, Humber College<br>
          <br>Fall 2018 to Present, Teaching Assistant, 40+ positions at UofT’s iSchool for graduate courses, <br>
          ☞ UofT Scarborough and Mississauga for the undergraduate course. 
          </p>
      </div>

      <div class="col-lg-5 col-lg-offset-1">
        <p><b>AWARDS</b>
          <br>2021, Ranjit Kumar Graduate Fellowship Recipient, <br>
          ☞ University of Toronto<br>
          <br>2021, Ontario Graduate Scholarship (OGS) Recipient, <br>
          ☞ Government of Ontario, Canada <br>         
          <br>2009, Silicon Valley College Success Scholarship, <br>
          ☞ College Access Foundation of California, U.S.A      <br>   
          <br>2009, Artistic Discovery Contest Winner, <br>
          ☞ Congressional Art Competition, Washington DC, U.S.A<br>
          <br>2008, Cosmos Intel Research Award Recipient, <br>
          ☞ University of California, Santa Cruz
          </p>
      </div>
      <div class="col-lg-10">
        <p><br><b>PUBLICATIONS</b>
          <br>Bhatia-Kalluri, A. (2020). A Village Goes Mobile: Telephony, Mediation, and Social Change in Rural India. Canadian Journal of Communication, 45(1). doi:https://doi.org/10.22230/cjc.2020v45n1a3711        
          </p>
      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="AditiBhatiaCV.pdf"  style="color:#000080" style="background-color:#fff" class="btn btn-lg btn-outline"> 
          <i style="color:#000080" class="fa fa-download"></i> Download CV
      
        </a>
      </div>
    </div>
  </div>
</section>
