<!-- Curriculum Vitae Section -->
<section class="success" id="curriculumvitae">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Curriculum Vitae</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-30">
      <!--<div class="col-lg-4 col-lg-offset-2"> -->
        <p>Aditi Bhatia-Kalluri is a fourth-year Ph.D. student at the Faculty of Information, University of Toronto. Her Ph.D. research looks at mobile phone penetration and usage, especially financial inclusion and digital payments, in developing nations. Research focuses on the ways digital policies in India shape information practices such as the adoption of e-banking and e-commerce for micro-entrepreneurs in rural communities. Research would track adaptation to mobile phones by auditing everyday user challenges in cashless transactions and find gaps that lead to information asymmetry.</p>
      </div>
      <div class="col-lg-6">
        <p><b>Education:</b>
          <br>🎓 Ph.D. in Information, 2023 (Anticipated)<br> 
          Faculty of Information, University of Toronto          
          <br>🎓 Masters’ in Digital Media, 2015<br>
          Ryerson University          
          <br>🎓 B.A. Hon in New Media Studies, 2014<br>
          Department of Art, Media and Culture, University of Toronto          
          <br>🎓 New Media Design Certification with Honours, 2013<br>
          Centennial College          
          </p>
      </div>
      <div class="col-lg-5 col-lg-offset-1">
        <p><b>Research Interests:</b>
          <br>☞ Platforms
          <br>☞ Digital finance
          <br>☞ Information, Communication, Technology for Development (ICTD)
          <br>☞ Political economy
          </p>
      </div>
     
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
