<!-- Curriculum Vitae Section -->
<section id="curriculumvitae">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Curriculum Vitae</h2>
        <hr class="star-primary">
       <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-30">
      <!--<div class="col-lg-4 col-lg-offset-2"> -->
        <p><b>CONFERENCES</b>
          2022, Digital Inclusion Panel, International Communication Association (ICA) Virtual Post-conference on Media Sociology
          ☞ Aadhaar Biometric System Adding Value To Digital Payments For Financial Inclusion In India
          2022, Interacting with Smart Tech Panel, Canadian Communication Conference (CCA
          ☞ Aadhaar Biometric System Adding Value To Digital Payments For Financial Inclusion In India
          2021, Rural Communication Panel, International Association for Media and Communication Research Conference (IAMCR) 
          ☞ E-commerce for Rural Micro-Entrepreneurs: Mapping Restrictions, Ecologies of Use and Trends for Development
          2021, Infrastructural Temporalities, Canadian Communication Conference (CCA) 
          ☞ History of Information Communications in India: Mapping developmental trajectory of telegraph, telephones, and mobile phones (1851- Present.) 
          2021, Consumerism Panel, Communication Graduate Caucus (CGC) Conference 
          ☞ Role of COVID-19 Pandemic in Facilitating Digital Payment Ecosystem
          2020, Biosciences and Analytics Panel, What is Information? 
          ☞ Role of Aadhaar Biometric System Within the Digital Payment Transformation in India. 
          2019, ICTs for Community, Participation and Development Panel, Canadian Communication Conference (CCA)
          ☞ Intersectionality: Investigating Intersectionality as a Framework for ICTs Research. 
          </p>
      </div>
      <div class="col-lg-6">
        <p><b>Education:</b>
          <br>🎓 Ph.D. in Information, 2023 (Anticipated)<br> 
          Faculty of Information, University of Toronto          
          <br>🎓 Masters’ in Digital Media, 2015<br>
          Ryerson University          
          <br>🎓 B.A. Hon in New Media Studies, 2014<br>
          Department of Art, Media and Culture, University of Toronto          
          <br>🎓 New Media Design Certification with Honours, 2013<br>
          Centennial College          
          </p>
      </div>
      <div class="col-lg-5 col-lg-offset-1">
        <p><b>Research Interests:</b>
          <br>☞ Platforms
          <br>☞ Digital finance
          <br>☞ Information, Communication, Technology for Development (ICTD)
          <br>☞ Political economy
          </p>
      </div>
     
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
