<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
            <a href="http://twitter.com/aditibhatia29" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-twitter"></i></a>
            <a href="https://scholar.google.com/citations?user=AgTnd9EAAAAJ&hl=en" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-google-plus"></i></a>
            <a href="https://www.linkedin.com/in/aditibhatia/" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-linkedin"></i></a>
            <a href="http://github.com/aditibhatia" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-github"></i></a>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
